<body class="fondo">
  <header><h1>Ta Te Ti  </h1></header>
<div class="container" *ngIf="this.resultado">
    <div class="row">
        <div class="col">
            <h2> {{ this.mensajefinal }}</h2>
        </div>
    </div>
</div>
  <div class="conteiner fondocuadro">
    <div class="row altcuadro">
      <div class="col">
        <button class="tamanioboton" (click)="presion(0, 0)" >
          {{ posiciones[0][0] }}
        </button>
      </div>
      <div class="col">
        <button class="tamanioboton" (click)="presion(0, 1)" >
          {{ posiciones[0][1] }}
        </button>
      </div>
      <div class="col">
        <button class="tamanioboton" (click)="presion(0, 2)" >
          {{ posiciones[0][2] }}
        </button>
      </div>
    </div>
    <div class="row altcuadro">
      <div class="col">
        <button class="tamanioboton" (click)="presion(1, 0)" >
          {{ posiciones[1][0] }}
        </button>
      </div>
      <div class="col">
        <button class="tamanioboton" (click)="presion(1, 1)" >
          {{ posiciones[1][1] }}
        </button>
      </div>
      <div class="col">
        <button class="tamanioboton" (click)="presion(1, 2)" >
          {{ posiciones[1][2] }}
        </button>
      </div>
    </div>
    <div class="row altcuadro">
      <div class="col">
        <button class="tamanioboton" (click)="presion(2, 0)" >
          {{ posiciones[2][0] }}
        </button>
      </div>
      <div class="col">
        <button class="tamanioboton" (click)="presion(2, 1)" >
          {{ posiciones[2][1] }}
        </button>
      </div>
      <div class="col">
        <button class="tamanioboton" (click)="presion(2, 2)" >
          {{ posiciones[2][2] }}
        </button>
      </div>
    </div>
  </div>
  <div class="conteiner fondocuadro">
    <div style="text-align: center">
      <button mat-button color="primary" (click)="reiniciar()">
        Reiniciar
      </button>
    </div>
  </div>
</body>
