body {
	background-color: #209920;
    }

h1, h2, h3 {
	text-align: center;
    }

#turno {
	background-color: yellow;
    margin: 10px auto;
    padding: 10px;
    width: 238px;
    text-align: center;
    font-size: 15pt;
    display: none;
    }

#tablero {
	height: 248px;
	width: 248px;
	margin: 30px auto;
    }
	
.celda {
    display: none;
    float: left;
    background: #fff;
	height: 80px;
	width: 80px;
	border: solid 1px gray;
    font-size: 20pt;
    text-align: center;
	}

/* clear para los floats */

#tablero:after {
    display: block;
    content: "";
    clear: both;
}

#ficha {
    margin: 0 auto;
    text-align: center;
}
#ficha h3 {
    margin: 0;
}
#ficha a {
    display: inline-block;
    background: #8f746c;
    padding: 10px;
    border: 2px solid;
    margin: 10px auto;
    cursor: pointer;
}

#jugadores {
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.marcador {
    display: none;
    margin-left: 30px;
}

.fondo{
    background-color:#3578b6;
}

.fondocuadro{
    background-color: #3578b6;
    border: solid;
}

.altcuadro{
    height: 60px;
	
	margin: 30px auto;
}

.tamanioboton{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 1px 1px 15px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 30px 40px;
    background: #88dd77;
    border: solid #000000 1px;
    text-decoration: none;
    width: 90%;
}