body {
	background-color: #209920;
    }

h1, h2, h3 {
	text-align: center;
    }

#turno {
	background-color: yellow;
    margin: 10px auto;
    padding: 10px;
    width: 238px;
    text-align: center;
    font-size: 15pt;
    display: none;
    }

#tablero {
	height: 248px;
	width: 248px;
	margin: 30px auto;
    }
	
.celda {
    display: none;
    float: left;
    background: #fff;
	height: 80px;
	width: 80px;
	border: solid 1px gray;
    font-size: 20pt;
    text-align: center;
	}

/* clear para los floats */

#tablero:after {
    display: block;
    content: "";
    clear: both;
}

#ficha {
    margin: 0 auto;
    text-align: center;
}
#ficha h3 {
    margin: 0;
}
#ficha a {
    display: inline-block;
    background: #8f746c;
    padding: 10px;
    border: 2px solid;
    margin: 10px auto;
    cursor: pointer;
}

#jugadores {
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.marcador {
    display: none;
    margin-left: 30px;
}