<p>adivina works!</p>
<!--div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
      </svg>
</div-->
<!--buttom class="bi bi-arrow-clockwise (click)= contructor()">Inicio</buttom-->

<!--div class="ro">
  <div class="col">
    <h3>turno jugador : {{ datosAPasarPPT.nombre }}</h3>
    <div class="btn-group btn-group-justified">
      <button class="btn btn-primary" (click)="this.jugadorPiedra()">
        piedra
      </button>
      <button class="btn btn-secondary" (click)="this.jugadorPapel()">
        papel
      </button>
      <button class="btn btn-success" (click)="this.jugadorTijera()">
        tijera
      </button>
    </div>
  </div>
</div-->

<div *ngIf="!this.salir">
  <div class="flex" *ngIf="!this.mostrarJugando">
    <p>jugador: {{ datosAPasar.nombre }}</p>

    <button class="bi bi-arrow-clockwise mr-5" (click)="inicio()">
      Inicio
    </button>

    <button class="bi bi-x-circle ml-5" (click)="this.salirJuego()">
      Salir
    </button>
  </div>

  <div *ngIf="this.mostrarJugando">
    <div class="contat">
      <div class="ro">
        <div class="col">
          <div>
            
            <p>Intento: {{ this.contador }}</p>
            <table>
              <tr>
                <td *ngFor="let item of this.vector">
                  {{ item }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="contat">
        <div class="ro">
          <div class="col">
            <!--label for="inputName" class="sr-only">Ingrese Numero</label-->
            <label>Ingrese Numero: </label>
            <input
              name="probar"
              type="number"
              id="probar"
              class="tamaniotext"
              placeholder="Ingrese valor"
              required
              autofocus
              [(ngModel)]="this.numero"
            />
            <br />
            <button class="btn btn-primary btn-lg" (click)="probar()">
              Probar
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="this.contador > 1">
        <h3 *ngIf="this.igualNum && this.contador < 3">
          Has adivinado en pocos intentos!!!
        </h3>
        <h3 *ngIf="this.igualNum && this.contador > 2 && this.contador < 7">
          Has adivinado y estas dentro de la media!!!
        </h3>
        <h3 *ngIf="this.igualNum && this.contador > 6">
          Has adivinado, pero te costo!!!
        </h3>
        <h3 *ngIf="this.Menor && !this.igualNum">
          El numero es menor al buscado
        </h3>
        <h3 *ngIf="this.Mayor && !this.igualNum">
          El numero es mayor al buscado
        </h3>
      </div>
    </div>
    <div class="contat">
      <div class="ro">
        <div class="col">
          <button class="bi bi-x-circle ml-5" (click)="this.salirJuego()">
            Salir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
