<p>ahorcado works!</p>
<body>
    <h1>• AHORCADO • </h1>
    <div class="row">
      <div class="letra">
        <div class="col-12">
            &nbsp;
            <span *ngFor="let esp of espacios ">
                 <span *ngIf="contiene(esp)">
                    {{esp}} &nbsp;
                </span>
                <span *ngIf="!contiene(esp)">
                    _ &nbsp;
                </span>
            </span>
        </div>
      </div>
    </div>
    <div class="pedidas">
      <input type="text" max="1" (keyup)="validar()" [(ngModel)]="letra">
    </div>
    <div class="norepita">
      {{this.letrasElegidas}}
    </div>
    <div id="volver" *ngIf="ocultaBoton">
      <div >
      <button type="button" class="btn btn-info" >Volver a jugar</button>
      </div>
     <div id="inciobtn">
      <button class="btn btn-primary" type="button" routerLink="../../inicio" >Salir</button>
     </div>
    </div>
  </body>
  
