<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="pantalla-juegos.component.css" />
</head>
<body>
  <div class="cont">
    <div class="row">
      <div class="col">
        <h1 style="text-align: center">
          Bienvenido {{ jugadorActual.nombre }} a juegos!
        </h1>

        <hr />
        <div>
          <div class="grid-juegos fondoJuegos">
            <li class="grid-uno">
              <button class="btnuno" (click)="selectojuego(1)">Tateti</button>
            </li>

            <li class="grid-dos">
              <button class="btndos" (click)="selectojuego(2)">
                Piedra Papel o Tijera
              </button>
            </li>
            <li class="grid-tres">
              <button class="btntres" (click)="selectojuego(3)">Adivina</button>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-abajo">
    <div>
      <app-highscores></app-highscores>
    </div>

    <div *ngIf="this.jugado == 1">
      <app-tateti></app-tateti>
    </div>
    <div *ngIf="this.jugado == 2">
      <app-ppt></app-ppt>
    </div>
    <div *ngIf="this.jugado == 3">
      <app-adivina [datosAPasar]="valorAPasar"></app-adivina>
    </div>
  </div>
</body>
